<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Browsers -->
    <package id="googlechrome" />
    <package id="firefox" />
    <!-- Development IDEs & SDKs -->
    <package id="androidstudio" />
    <package id="vscode" />
    <package id="jetbrainstoolbox" />
    <package id="nodejs-lts" />
    <package id="ruby" />
    <package id="mongodb" />
    <package id="git" packageParameters="/NoShellIntegration" />
    <package id="dotnet-8.0-sdk" />
    <package id="temurin17" />
    <package id="gh" />
    <!-- Media & Design -->
    <package id="blender" />
    <package id="snagit" />
    <package id="material-maker" />
    <package id="obs-studio" />
    <package id="screentogif" />
    <!-- Utilities -->
    <package id="beyondcompare" />
    <package id="curl" />
    <package id="7zip" />
    <package id="imagemagick" />
    <package id="vlc" />
    <package id="audacity" />
    <package id="spotify" />
    <package id="wiztree" />
    <package id="postman" />
    <package id="winscp" />
    <package id="putty" />
    <package id="1password" />
    <!-- Containers / DevOps -->
    <package id="docker-desktop" />
    <package id="tailscale" />
    <!-- Communication -->
    <package id="discord" />
    <package id="kdeconnect" />
    <package id="slack" />
    <package id="zoom" />
    <package id="parsec" />
    <!-- Game Development -->
    <package id="unity-hub" />
    <package id="godot" />
    <!-- Gaming & Launchers -->
    <package id="steam" />
    <package id="epicgameslauncher" />
    <package id="ubisoft-connect" />
    <package id="ea-app" />
    <package id="goggalaxy" />
    <package id="leagueoflegends" />
</packages>
